/*
  Style guide
  Blue: 
  Light gray: #f8f8f8;
*/

/* HTML5 Boilerplate */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

object, embed {
  outline: 0; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a {
  outline: 0; }

a:hover, a:active, a:focus {
  outline: 0; }

ins {
  background-color: #fff;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fff;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* END RESET CSS */

body {
  background-color: #f8f8f8;
  background-image: url("../images/css/bg-body.jpg");
  background-position: 0 0;
  font-family: Arial;
  /* For pixel -> percent conversion sizes - http://developer.yahoo.com/yui/3/cssfonts/ */
  font-size: 85%;
}

select,
input,
textarea,
button {
  font: 99% sans-serif;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

body,
select,
input,
textarea {
  color: #444;
  font-family: Arial, sans-serif;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a:hover,
a:active {
  outline: none;
}

a {
  color: #444;
}

a,
a:active,
a:visited {
  text-decoration: none;
}

a:hover {
  color: #444;
  text-decoration: underline;
}

ul,
ol {
  margin-left: 1.8em;
}

ol {
  list-style-type: decimal;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.lowercase {
  text-transform: lowercase;
}

.right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

/*
  Buttons, and other various customizations
*/
div.button {
  color: #fff;
}

div.button a {
  color: #fff;
  text-transform: uppercase;
}

div.button a:hover,
div.button a:active {
  text-decoration: none;
}

div.button.small {
  background: url("../images/css/button-left-small.png") no-repeat left center;
  height: 28px;
  line-height: 28px;
}

div.button.small a {
  color: #fff;
  display: block;
  height: 28px;
  line-height: 30px;
  margin: 0 auto;
  padding: 0 17px;
}

div.button.small.gray a {
  background: url("../images/css/button-right-small-gray.png") no-repeat right center;
}

div.button.small.gray.arrow a {
  background: url("../images/css/button-right-small-arrow-gray.png") no-repeat right center;
}

div.button.small.white a {
  background: url("../images/css/button-right-small-white.png") no-repeat right center;
}

div.button.small.white.arrow a {
  background: url("..images/css/button-right-small-arrow-white.png") no-repeat right center;
}

/*
  Container
*/
div#container {
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  width: 1021px;
}

/*
  Header
*/
div#container div#header {
  background: #f8f8f8 url("../images/css/bg-header.jpg") no-repeat 0 0;
  border-color: #e8e7e7;
  border-style: solid;
  border-width: 0 1px;
  height: 145px;
}

div#container div#header div#login {
  float: right;
  line-height: 29px;
  margin-right: 89px;
}

div#container div#header h1 a {
  background-image: url("../images/logo-large.png");
  background-position: 0 center;
  background-repeat: none;
  height: 78px;
  margin: 39px 0 0 30px;
  position: absolute;
  text-indent: -3000px;
  width: 302px;
}

div#container div#header div#get-help a {
  background-image: url("../images/css/button-get-help.jpg");
  background-position: 0 0;
  background-repeat: none;
  display: block;
  height: 38px;
  position: absolute;
  right: 46px;
  text-indent: -3000px;
  top: 70px;
  width: 138px;
}

/*
  Main Navigation
*/
div#container div#main-navigation {
  background-color: #449cff;
  height: 50px;
  width: 100%;
}

div#container div#main-navigation ul {
  list-style-type: none;
  height: 50px;
  line-height: 50px;
}

div#container div#main-navigation ul li {
  float: left;
  margin-left: 54px;
}

div#container div#main-navigation ul li,
div#container div#main-navigation ul li a {
  color: #fff;
  font-size: 16px;
  text-shadow: #2f6db2 1px 1px;
}

div#container div#main-navigation ul li a:hover,
div#container div#main-navigation ul li a:active {
  text-decoration: none;
}

/*
  Main navigation subnav
*/
div#container div#main-navigation ul li ul {
  display: none;
}

/*
  Main Callouts section (Home page)
*/
div#container div#callouts-container {
  background-color: #f7f7f7;
  background-image: url("../images/css/bg-callouts-content.jpg");
  background-position: bottom 0;
  background-repeat: repeat-x;
  border-color: #e8e7e7;
  border-style: solid;
  border-width: 0 1px;
  overflow: auto;
  padding-bottom: 37px;
}

div#container div#callouts-container div#callouts-content {
  margin: 21px auto 37px auto;
  width: 939px;
}

div#container div#callouts-container div#callouts-content div.callout {
  float: left;
  margin: 0 49px 0 0;
  text-align: center;
  width: 280px;
}

div#container div#callouts-container div#callouts-content div.callout.last {
  margin: 0;
}

div#container div#callouts-container div#callouts-content div.callout img {
  display: block;
  margin-bottom: 10px;
}

div#container div#callouts-container div#callouts-content div.callout p {
  display: block;
}

div#container div#callouts-container div#callouts-content div.callout div.button {
  margin: 25px auto 0 auto;
  width: 125px;
}

/*
  Main content
*/
div#container div#content {
  padding: 30px;
}

/*
  Footer
*/
div#container div#footer {
  background-color: #f8f8f8;
  background-image: url("../images/css/bg-footer.jpg");
  background-position: 0 0;
  background-repeat: repeat-x;
  border-color: #e8e7e7;
  border-style: solid;
  border-width: 0 1px;
  font-size: 90%;
  padding: 20px 32px 20px 50px;
  overflow: auto;
}

div#container div#footer div#columns {
  overflow: hidden;
  width: 100%;
}

div#container div#footer div.column {
  float: left;
  position: relative;
}

div#container div#footer div#column_one {
  margin-right: 50px;
  width: 154px;
}

div#container div#footer div#column_one dl {
  margin: 22px 0 80px 0;
}

div#container div#footer div#column_one dl dt {
  float: left;
  margin: 0 7px 0 0;
}

div#container div#footer div#column_two {
  margin-right: 20px;
  width: 120px;
}

div#container div#footer div#column_three {
  margin-right: 40px;
  width: 120px;
}

div#container div#footer div#column_four {
  margin-right: 50px;
  width: 170px;
}

div#container div#footer div#column_four ul {
  list-style-type: none;
  margin: 0;
}

div#container div#footer div#column_four ul li {
  margin-bottom: 25px;
}

div#container div#footer div#column_four ul li:last-child {
  margin: 0;
}

div#container div#footer div#column_four ul li p:nth-child(2) {
  font-size: 90%;
}

div#container div#footer div#column_five {
  width: 180px;
}

div#container div#footer div#column_five ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

div#container div#footer div#column_five ul li {
  float: left;
  margin-right: 4px;
}

div#container div#footer div#column_five ul li:last-child {
  margin: 0;
}

div#container div#footer div#column_five ul li a {
  display: block;
  height: 32px;
  text-indent: -3000px;
  width: 32px;
}

div#container div#footer div#column_five ul li:first-child a {
  background: url("../images/css/sprite-social-networking.jpg") no-repeat 0 0;
}

div#container div#footer div#column_five ul li:nth-child(2) a {
  background: url("../images/css/sprite-social-networking.jpg") no-repeat -32px 0;
}

div#container div#footer div#column_five ul li:nth-child(3) a {
  background: url("../images/css/sprite-social-networking.jpg") no-repeat -64px 0;
}

div#container div#footer div#column_five ul li:nth-child(4) a {
  background: url("../images/css/sprite-social-networking.jpg") no-repeat -96px 0;
}

div#container div#footer div#column_five ul li:nth-child(5) a {
  background: url("../images/css/sprite-social-networking.jpg") no-repeat -128px 0;
}

div#container div#footer div#column_five form {
}

div#container div#footer div#column_five form fieldset {
  clear: both;
  width: 100%;
}

div#container div#footer div#column_five form fieldset input[type="text"] {
  margin: 0 0 10px 0;
  width: 99%;
}

div#container div#footer div#column_five form div#commit {
  float: right;
  width: 100px;
}

div#container div#footer div#column_two h3,
div#container div#footer div#column_three h3,
div#container div#footer div#column_four h3,
div#container div#footer div#column_five h3 {
  height: 50px;
  line-height: 50px;
}

div#container div#footer div.column h3 a {
  text-decoration: none;
}

div#container div#footer div#column_two ul,
div#container div#footer div#column_three ul {
  list-style-image: url("../images/css/bullet-arrow.png");
}

div#container div#footer div#column_two ul li,
div#container div#footer div#column_three ul li {
  line-height: 105%;
}

div#container div#footer p#copyright {
  clear: both;
  margin: 50px 0 0 0;
}

